attrs==24.2.0
beautifulsoup4==4.12.3
cattrs==23.2.3
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
platformdirs==4.2.2
requests==2.32.4
requests-cache==1.2.1
six==1.16.0
soupsieve==2.6
tqdm==4.66.5
url-normalize==1.4.3
urllib3==2.5.0
